[submodule "Software/openwsn-fw"]
	path = Software/openwsn-fw
	url = https://github.com/openwsn-berkeley/openwsn-fw.git
[submodule "Software/openvisualizer"]
	path = Software/openvisualizer
	url = https://github.com/openwsn-berkeley/openvisualizer.git
